* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color:deepskyblue;
    text-align: center;
  }

h1 {
    text-align: center;
}

#puzzle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    gap: 1.5vmin;
    bottom: 1.5vmin;
}

.cell {
    height: 16vmin;
    width: 16vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

button {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}