/* General styles */
body {
  background-color: #1C1F21;
  color: #E0E0E0;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease;
}

a {
  color: #FFAE42;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #FFD580;
  text-decoration: underline;
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2C2F33;
  padding: 15px 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li button {
  color: #E0E0E0;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar ul li button:hover {
  color: #FFAE42;
  transform: scale(1.1);
}

/* Section styles */
.section {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: #1C1F21;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.content-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  background-color: #343a40;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-container {
  flex: 1;
  padding: 20px;
  color: #FFFFFF;
  justify-content: center;
  text-align: justify;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h2, h3, h5 {
  color: #FFAE42;
}

.avatar, .project {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  transition: transform 0.5s ease;
}

.avatar:hover, .project:hover {
  transform: scale(1.05);
}

/* Ensure text contrast */
.content-block p, .content-block ul, .content-block ol {
  color: #FFFFFF;
}

/* Improve readability */
h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

h5 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 15px;
}

ul, ol {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

/* Ensure adequate spacing */
.text-container, .image-container {
  margin: 20px;
}
