.App {
  font-family: Arial, sans-serif;
  color: #FFFFFF;
  padding-top: 60px;
}
a:link {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: underline;
}
.navbar {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50%;
  background-color: #343434;
  padding: 10px 0;
  z-index: 1000;
  border-radius: 15px;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar ul li {
  display: inline;
  margin-right: 20px;
}
.navbar ul li button {
  color: #FFFFFF;
  background-color: #343434;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.navbar ul li button:hover {
  transform: scale(1.1);
  background-color: #FFAE42;
}
.section {
  padding: 50px 0;
  justify-content: left;
  border-radius: 15px;
}
#home {
  background-color: #3a3a3a;
}
#projects {
  justify-content: flex-start;
  background-color: #3a3a3a;
}
#about {
  background-color: #3a3a3a;
}
#contact {
  background-color: #3a3a3a;
}
body {
  background-color: #1C1F21;
}
h2 {
  color: #FFFFFF;
}
h1 {
  font-size:xx-large;
}
.avatar {
  width: 500px;
}
.container {
  display: flex;
  justify-content: center;
}
.text-container {
 text-align: left;
}
.avatar-container {
  margin-left: auto;
}
.project-container {
  margin-left: 70px;
  border-radius: 20px;
  margin-top: 50px;
}
.project {
  width: 350;
  height: 700;
  border-radius: 25px;
}